.abaut {
    display: block;
    margin:  auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2rem;
    min-height: 40vh;
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-align: left;
    


    background: #ffffff;
    color: black;

    line-height: 2.5rem;

    &__header {
        padding-top: 7rem;
        padding-bottom: 7rem;
        text-align: center;
        font-family:Montserrat,arial;

      text-transform:uppercase;

        

    }
    &_head {
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;
      font-family:Montserrat,arial;
     

    text-transform:uppercase;

      

  }
    

}
.abaut_image{
  background-image:url("../assets/galery/555.jpg" ) ;
  background-repeat: no-repeat;
 margin-left: 2rem;
   
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  padding:2rem 1rem 2rem 1rem;
  grid-row-end: auto;
  margin-bottom: 6rem;
  @media (max-width: 768px) {
    grid-template-columns:  1fr;
  grid-template-rows: 1fr;

   
}}
.abaut__description{
  padding-right: auto;
  padding-left: 1rem;
  font-family:arial;
  border-left: 4px solid gold;
 
  
}


  
