@import "_normalize";
@import "_variables";
@import "menu_navigation";
@import "_normalize";
@import "_variables";
@import "abaut";
@import "menu_card";
@import "event";
@import "contact";



@import url("https://fonts.googleapis.com/css?family=Lobster|Staatliches&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap&subset=latin-ext");


html {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif, initial, justify;
  @media (max-width:$mobile-one  ) {
    font-size: 12px;
  }
  @media (max-width:$mobile-two  ) {
    font-size: 12px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  background: whitesmoke;
  
}