@import "_normalize";
@import "_variables";
@import "menu_navigation";


html {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}