#slider {
    overflow: hidden;
    max-height: 70rem ;
    margin-bottom: 1.875rem;
  }
  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }
  #slider figure img {
    width: 20%;
    float: left;
  }
  
  @keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
  .menuCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    &--header {
      color: black;
      font-size: 2rem;
     
    }
    &--description {
      font-size: 1.5rem;
      padding: 0.626rem 0.626rem 0.626rem 0.626rem;
      margin: 2rem 2rem 2rem 2rem;
    }
    &--list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 2rem 2rem 2rem 2rem;
      padding: 2rem 2rem 2rem 2rem;
      list-style-type: none;
      column-gap: 2rem;
      row-gap: 2rem;
      
      
    }
    &--list-header{
      margin-top: 2,5rem;
      font-family: "Roboto Condensed", sans-serif, initial, justify;
      text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
       
  
        
    }
    &--list-item{
        
        font-family: "Roboto Condensed", sans-serif, initial, justify;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 0.062rem;
        line-height: 1.56rem;
        padding: 0.626rem 0.626rem 0.626rem 0.626rem;
        margin-top: 0.626rem;
       
       
    }
    
  }
  .list-item--price{
    
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 1.7rem;
    font-size: 1.7rem;
   
   
   }
  
   
    
  